<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render 'shared/favicons' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if all_casa_admin_signed_in? %>
      <%= javascript_pack_tag 'all_casa_admin', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_pack_tag 'all_casa_admin', 'data-turbolinks-track': 'reload' %>
    <% end %>
  </head>
  <body class="<%= body_class %>">
    <div class="header-flash">
      <% flash.delete(:timedout).each do |key, value| %>
        <div class="<%= flash_class(key) %> alert-dismissible fade show" role="alert">
          <%= sanitize(value, tags: %w(ul li)) %>
        </div>
      <% end %>
    </div>
      <%= render 'layouts/mobile-navbar' %>
      <%= render 'layouts/sidebar' %>
      <div class="d-flex" id="wrapper">
        <div id="page-content-wrapper">
          <div class="container-fluid">
            <div class="content">
              <%= yield %>
            </div>
          </div>
          <%= render 'layouts/footer' %>
        </div>

      </div>
    
  </body>
</html>

